<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>home</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>publico/login.xhtml</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
    
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Realm_Sisres</realm-name>
        <form-login-config>
            <form-login-page>/faces/publico/login.xhtml</form-login-page>
            <form-error-page>/faces/publico/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    
    <security-constraint>
        <display-name>Pg servidor</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Servidor Area</web-resource-name>
            <description>Protected Servidor Area</description>
            <url-pattern>/faces/servidor/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>            
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>servidor</role-name>
        </auth-constraint>  
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>              
    </security-constraint> 
    
    <security-constraint>
        <display-name>Pg administrador</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Administrador Area</web-resource-name>
            <description>Protected Administrador Area</description>
            <url-pattern>/faces/administrador/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>            
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>administrador</role-name>
        </auth-constraint>  
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>              
    </security-constraint> 
    
    <security-constraint>
        <display-name>Pg aluno</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Aluno Area</web-resource-name>
            <description>Protected Aluno Area</description>
            <url-pattern>/faces/aluno/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>            
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>aluno</role-name>
        </auth-constraint>  
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>              
    </security-constraint> 
    
    
    <security-constraint>
        <display-name>Pg Servidor Chefe</display-name>
        <web-resource-collection>
            <web-resource-name>Protected Servidor Chefe Area</web-resource-name>
            <description>Protected Servidor Chefe Area</description>
            <url-pattern>/faces/aluno/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>            
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>servidor_chefe</role-name>
        </auth-constraint>  
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>              
    </security-constraint> 
    
    <error-page>
        <error-code>403</error-code>
        <location>/publico/erroPermissaoNegada.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/publico/erroInterno.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/publico/erro.xhtml</location>
    </error-page>
    
    
    <security-role>
        <role-name>servidor_chefe</role-name>
    </security-role>
    <security-role>
        <role-name>aluno</role-name>
    </security-role>
    <security-role>
        <role-name>servidor</role-name>
    </security-role>
    <security-role>
        <role-name>administrador</role-name>
    </security-role>
</web-app>
